*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  position: absolute;
  scroll-behavior: smooth;
  background-color: #eceae1;
}

body header {
  padding: 0 5%;
  background-color: rgba(84, 84, 84, 0.9);
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  color: #eceae1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header .brand h3 {
  font-size: 2rem;
  font-family: "Pacifico", cursive;
}

body header .brand h3 i {
  margin-left: 0.3rem;
  color: #ce282a;
}

body header nav {
  font-size: 1.2rem;
  font-weight: 50;
  font-family: "Roboto", sans-serif;
}

body header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body header nav ul li {
  margin-left: 3rem;
}

body header nav ul li a:hover {
  cursor: pointer;
  color: #ce282a;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body header nav ul li a {
  color: #eceae1;
  text-decoration: none;
}

body main .hero {
  position: relative;
  text-align: center;
  color: #eceae1;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(54, 54, 54, 0.7)), to(rgba(54, 54, 54, 0.7))), url("../images/background.jpg");
  background-image: linear-gradient(rgba(54, 54, 54, 0.7), rgba(54, 54, 54, 0.7)), url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .hero h1 {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  color: #ce282a;
}

body main .hero p {
  font-size: 2.2rem;
  font-family: "Roboto", sans-serif;
}

body main .hero a {
  text-decoration: none;
  color: #eceae1;
}

body main .hero i {
  font-size: 2rem;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body main .services {
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  -ms-grid-columns: 5% 1fr 1fr 5%;
      grid-template-columns: 5% 1fr 1fr 5%;
  -ms-grid-rows: 0.2fr 1fr 1fr;
      grid-template-rows: 0.2fr 1fr 1fr;
      grid-template-areas: "header header header header" ". first first ." ". second second .";
}

body main .services .header {
  margin-bottom: 3rem;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  background-color: #545454;
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  color: #eceae1;
  padding: 1rem 0;
}

body main .services .first {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: first;
}

body main .services .second {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: second;
}

body main .services .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .services .box .img {
  width: 50%;
  padding: 10px;
}

body main .services .box .img img {
  width: 100%;
  height: 100%;
}

body main .services .box .content {
  text-align: center;
  color: #eceae1;
  font-family: "Roboto", sans-serif;
  width: 40%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .services .box .content .btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #eceae1;
  font-size: 1.3rem;
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  background-color: #545454;
  margin-top: 1rem;
}

body main .services .box .content .btn:hover {
  cursor: pointer;
  color: #ce282a;
}

body main .services .box .content .btn i {
  color: #ce282a;
}

body main .services .box .content h3 {
  color: #ce282a;
  font-size: 2rem;
  margin-bottom: 1rem;
}

body main .services .box .content p {
  color: #545454;
  font-size: 1.3rem;
}

body .fridge {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 1fr 1.5fr 5%;
      grid-template-columns: 5% 1fr 1.5fr 5%;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
      grid-template-areas: "header header header header" ". ingredients add .";
}

body .fridge .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  margin-top: 3rem;
  text-align: center;
  background-color: #545454;
  padding: 2rem;
  color: #eceae1;
}

body .fridge .header h2 {
  font-size: 2.5rem;
  font-family: "Pacifico", cursive;
}

body .fridge .header p {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

body .fridge .ingriedients {
  position: relative;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: ingredients;
  width: 90%;
  min-height: 400px;
  margin: auto;
  color: #eceae1;
  font-family: "Roboto", sans-serif;
  background-color: #545454;
  padding: 1rem 0.3rem;
}

body .fridge .ingriedients ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

body .fridge .ingriedients ul li {
  width: 90%;
  padding: 0.3rem 0.5rem;
  margin: 0 auto 0.5rem auto;
  background-color: rgba(0, 0, 0, 0.2);
}

body .fridge .ingriedients ul li .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .fridge .ingriedients ul li .item i {
  margin-right: 0.5rem;
}

body .fridge .ingriedients ul li button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: none;
  outline: none;
  color: #eceae1;
  background-color: transparent;
  font-size: 1.2rem;
  margin-left: 0.4rem;
}

body .fridge .ingriedients ul li button:hover {
  cursor: pointer;
  color: #ce282a;
}

body .fridge .ingriedients ul li button.favouriteActive {
  color: #ce282a;
}

body .fridge .ingriedients h2 {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  background-color: #ce282a;
  padding: 1rem 0.5rem;
}

body .fridge .add {
  width: 90%;
  margin: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: add;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .fridge .add input {
  z-index: 2;
  font-size: 1.3rem;
  width: 80%;
  height: 50px;
  outline: none;
  border: none;
  background-color: #545454;
  color: #eceae1;
  padding: 0.5rem 0.5rem;
}

body .fridge .add button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #ce282a;
  color: #eceae1;
}

body .fridge .add button:hover {
  cursor: pointer;
}

body .fridge .add .autocomplete {
  position: absolute;
  overflow-y: scroll;
  top: 100%;
  width: 80%;
  left: 10%;
  max-height: 200px;
  color: #eceae1;
  background-color: rgba(84, 84, 84, 0.9);
  display: none;
}

body .fridge .add .autocomplete p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 0.3rem 0.2rem;
}

body .fridge .add .autocomplete p:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: rgba(206, 40, 42, 0.9);
  cursor: pointer;
}

body .fridge .add .autoShow {
  display: block;
}

body .fridge #st {
  z-index: -1;
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 9rem;
  color: rgba(206, 40, 42, 0.6);
}

body .fridge #nd {
  z-index: -1;
  position: absolute;
  top: 80%;
  left: 20%;
  font-size: 9rem;
  color: rgba(206, 40, 42, 0.7);
}

body .fridge #rd {
  z-index: -1;
  position: absolute;
  top: 60%;
  right: 20%;
  font-size: 9rem;
  color: rgba(206, 40, 42, 0.7);
}

body .meal {
  display: -ms-grid;
  display: grid;
  margin: 0 0 4rem 0;
  -ms-grid-columns: 5% 1.6fr 2fr 5%;
      grid-template-columns: 5% 1.6fr 2fr 5%;
  -ms-grid-rows: auto 0.5fr 0.5fr;
      grid-template-rows: auto 0.5fr 0.5fr;
      grid-template-areas: "heading heading heading heading" ". img how ." ". img table .";
}

body .meal h2 {
  padding: 1rem 0;
  margin: 0 0 2rem 0;
  background-color: #545454;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: heading;
  font-size: 4rem;
  color: #eceae1;
  font-family: "Pacifico", cursive;
}

body .meal .mealImg {
  width: 90%;
  margin: auto;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: img;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .meal .mealImg img {
  width: 100%;
}

body .meal .howTo {
  width: 80%;
  margin: auto;
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: how;
  font-family: "Roboto", sans-serif;
}

body .meal .howTo h3 {
  color: #ce282a;
  margin: 0 0 1rem 0;
  font-weight: 700;
  font-size: 2rem;
}

body .meal .howTo p {
  color: #545454;
  font-size: 1.3rem;
  overflow-y: scroll;
  max-height: 400px;
}

body .meal table {
  width: 80%;
  margin: 2rem auto 0 auto;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: table;
  font-family: "Roboto", sans-serif;
  color: black;
  border-collapse: collapse;
}

body .meal table caption {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  color: #ce282a;
  font-weight: 700;
  text-align: left;
}

body .meal table tr:nth-child(odd) {
  background-color: #989898;
}

body .meal table tr:nth-child(even) {
  background-color: #656565;
}

body .meal table td {
  padding: 0.3rem;
  border: 2px solid #545454;
}

body footer {
  text-align: center;
  padding: 1rem 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #eceae1;
  background-color: #545454;
}

body #up {
  font-size: 1.5rem;
  color: #ce282a;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

body .warn {
  position: fixed;
  top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #eceae1;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  z-index: 20;
  padding: 2rem 5rem;
  border-radius: 10px;
  display: none;
}

body .warnRed {
  background-color: rgba(206, 40, 42, 0.7);
  border: 3px solid #ce282a;
}

body .warnGreen {
  background-color: rgba(35, 137, 49, 0.7);
  border: 3px solid #238931;
}
/*# sourceMappingURL=main.css.map */